body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(130deg, #2C4DFF 0%, #010135 100%);
  color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(44, 77, 255, 0.4);
  padding: 40px;
  width: 90%;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
input {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff ;
  border-radius: 8px;
  padding: 12px;
  margin: 10px 0;
  width: 100%;
  color: #fff;
  font-size: 16px;
}

input::placeholder {
  color: #ccc;
}

button {
  background: #2C4DFF;
  color: #010135;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #2c4DDD;
}
.social-icons .icon {
  color: white;
  margin: 0 10px;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-icons .icon:hover {
  color: #ccc;
}