body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(130deg, #2C4DFF 0%, #010135 100%);
  color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} 
.container {
  background: linear-gradient(321deg, #2C4DFF 0%, #010135 100%);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  gap: 200px;
  
}
input {
  border: 1px solid #fff ;
}

input::placeholder {
  color: #ccc;
}

button {
  align-items: center;
  background: #2C4DFF;
  color: #010135;
  border: none;
  width: 80%;
  margin: 10px;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.googleo{
  color: white;
  margin: 0 10px;
  font-size: 20px;
  transition: color 0.3s ease;
}
button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #2c4DDD;
}
.social-icons .icon {
  color: white;
  margin: 0 10px;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-icons .icon:hover {
  color: #ccc;
}
.input-group {
  text-align: left;
  width: 100%;
  margin-bottom: 15px;
}   

.input-group span {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #fff;
}